body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
}

/* ---------navbar------- */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #1f2937;
  align-items: center;
}

.links-right {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #f9faf8;
  font-size: 24px;

}

.logo{
  font-size: 24px;
  color: #f9faf8;
  font-weight: 1000;
  padding: 0 10px;
}

a{
  text-decoration: none;
  color: #f9faf8;
  display: flex;
}



/*--------first section-------- */

.first-section {
  display: flex;
  justify-content: center;
  padding-top: 25px ;
  padding-bottom:50px;
  flex-wrap: wrap;

}

.left-section {
  margin-top: 60px;
  flex-basis: 400px;
  
}

.title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
  padding-left: 5px;
}

.card {
  font-size: 18px;
  color: #f9faf8;
}

.first-button{
  display: flex;
  width: fit-content;
}

.signup-buttom {
  width: auto;
  display: flex;
  padding: 5px;
  background-color: #3882f6;
  color: #f9faf8;
  margin-top: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  gap: 5px;
  font-size: 20px;
  font-weight: bold;
}

.right-section {
  flex-basis: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.video{
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.centered-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}

/* ------second-section------ */

.second-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}


.image{
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.second-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.text-form {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: #1f2937;
}

/* --------third section-------------- */

.third-section {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px 0;
  background-color: #e5e7eb;
}

.third-container {
  max-width: 800px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.autor-quote {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  font-weight: bold;
  font-size: 20px;
  color: #1f2937;
}

/* --------fourth section---------*/

.fourth-section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth-container {
  display: flex;
  background-color: #1f2937 ;
  align-items: center;
  padding: 50px 180px;
  border-radius: 10px;
  gap: 50px;
}

.fourth-hero{
  font-size: 30px;
  color: #f9faf8;
  font-weight: bold;
}

.fourth-text{
  font-size: 18px;
  color: #f9faf8;
}

.button-fourth{
  display: flex;
  padding: 15px 30px;
  background-color: #3882f6;
  color: #f9faf8;
 border: none;
  border-radius: 5px;
  gap: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* ------footer--------- */

.footer{
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #1f2937;
  padding: 15px;
  color: #f9faf8;
}